<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">
    <img src="assets/img/app-logo.png" height="30" alt="Finociate logo">
    Finociate
  </a>

  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="input-group">
    <span class="text-info" style="margin-right: 5px;">Time Window: </span>
    <app-date-window></app-date-window>
  </div>
  <!--
  <div class="input-group">
    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search"
      aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-primary" type="button">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>
  <div><span>&nbsp;</span></div>
-->

  <!-- Topbar -->
  <div class="navbar-nav">
    <!-- Topbar Navbar -->
    <div class="nav-item text-nowrap">
      <img height="30" class="img-profile rounded-circle" src="assets/img/default-user.png">
      <span class="text-primary">Seshu T</span>
    </div>
  </div>
</header>