<!-- Begin Page Content -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Budget</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="form-group">
            <input type="text" [(ngModel)]="showBudgetFrom" class="form-control" placeholder="Date dd-MM-yyyy"
                name="showFromDate">
        </div>
        <div class="form-group">
            <a (click)="loadBudget()" class="btn btn-primary">
                Show Budget
            </a>
        </div>
        <div class="form-group"><span>&nbsp;</span></div>
        <div class="form-group">
            <input type="text" [(ngModel)]="createBudgetFrom" class="form-control bg-light border-0 small"
                placeholder="from MM-YYYY" aria-label="createFromDate" aria-describedby="basic-addon2">
        </div>
        <div class="form-group">
            <a (click)="createBudget()" class="btn btn-primary">
                Create From
            </a>
        </div>
    </div>
</div>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col">
                <h1 class="h4 mb-2 text-gray-800">Budget Summary</h1>
            </div>
            <div class="col">
                <input type="text" [(ngModel)]="budgetMonth" class="form-control" placeholder="Date dd-MM-yyyy"
                    name="fromDate" disabled="">
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive" style="padding-bottom: 10px">
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr  class="table-dark">
                        <th>Account</th>
                        <th>Brought</th>
                        <th>Inflow</th>
                        <th>Outflow</th>
                        <th>Transfer In</th>
                        <th>Transfer Out</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let summaryItem of budget.summaryItems"
                        [ngClass]="{
                            'table-success': summaryItem.balance > 0, 
                            'table-danger': summaryItem.balance < 0}">
                        <td>{{ summaryItem.account }}</td>
                        <td class="currency">{{ summaryItem.brought  | customCurrency:currencyCode}}</td>
                        <td class="currency">{{ summaryItem.inflow  | customCurrency:currencyCode}}</td>
                        <td class="currency">{{ summaryItem.outflow  | customCurrency:currencyCode}}</td>
                        <td class="currency">{{ summaryItem.transferIn  | customCurrency:currencyCode}}</td>
                        <td class="currency">{{ summaryItem.transferOut  | customCurrency:currencyCode}}</td>
                        <td class="currency">{{ summaryItem.balance  | customCurrency:currencyCode}}</td>
                    </tr>
                    <tr *ngIf="totalSummary.balance != 0" style="font-weight: bold"
                        [ngClass]="{
                            'table-success': totalSummary.balance > 0, 
                            'table-danger': totalSummary.balance < 0}">
                        <td>{{ totalSummary.account }}</td>
                        <td class="currency">{{ totalSummary.brought  | customCurrency:currencyCode}}</td>
                        <td class="currency">{{ totalSummary.inflow  | customCurrency:currencyCode}}</td>
                        <td class="currency">{{ totalSummary.outflow  | customCurrency:currencyCode}}</td>
                        <td class="currency"></td>
                        <td class="currency"></td>
                        <td class="currency">{{ totalSummary.balance  | customCurrency:currencyCode}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="table-responsive" >
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr class="table-dark">
                        <th>Particulars</th>
                        <th>Total Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let key of getKeys(particularSummary)">
                        <td>{{ key }}</td>
                        <td class="currency">{{ particularSummary[key]  | customCurrency: currencyCode}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col">
                <div class="col">
                    <h1 class="h4 mb-2 text-gray-800">Budget Items</h1>
                </div>
            </div>
            <div class="col">
                <a (click)="addBudgetItem()" class="btn btn-primary btn-circle">
                    <i class="bi bi-plus-square"></i>
                </a>
            </div>
            <div class="col">
                <input type="text" [(ngModel)]="budgetMonth" class="form-control" placeholder="Date dd-MM-yyyy"
                    name="fromDate" disabled="">
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr class="table-dark">
                        <th>Account</th>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>Description</th>
                        <th>Particulars</th>
                        <th>Category</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let budgetItem of budget.budgetItems" (click)="editBudgetItem(budgetItem.id)"
                    [ngClass]="{
                        'table-success': budgetItem.type == 'credit',
                        'table-secondary': budgetItem.type == 'brought',
                        'table-info': budgetItem.type == 'transferTo',
                        'table-primary': budgetItem.type == 'debit' && budgetItem.category == 'savings',
                        'table-warning': budgetItem.type == 'debit' && budgetItem.category != 'savings',
                    }">
                        <td>{{ budgetItem.account }}</td>
                        <td>{{ budgetItem.type }}</td>
                        <td class="currency">{{ budgetItem.amount  | customCurrency: currencyCode}}</td>
                        <td>{{ budgetItem.description }}</td>
                        <td>{{ budgetItem.particulars }}</td>
                        <td>{{ budgetItem.category }}</td>
                        <td>
                            <a (click)="deleteBudgetItem(budgetItem.id);$event.stopPropagation()"
                                class="btn btn-danger btn-circle">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>