<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Transaction Text Patterns</h1>
    <tab-group>
        <tab-content [tabTitle]="'Patterns'" [tabLink]="'/text-patterns?tab=patterns'" [active]="getTabActive('patterns')">
            <patterns-config></patterns-config>
        </tab-content>
        <tab-content [tabTitle]="'Store Mapping'" [tabLink]="'/text-patterns?tab=store-mapping'" [active]="getTabActive('store-mapping')">
            <store-mapping></store-mapping>
        </tab-content>
        <tab-content [tabTitle]="'Store Params'" [tabLink]="'/text-patterns?tab=store-params'" [active]="getTabActive('store-params')">
            <store-params></store-params>
        </tab-content>
    </tab-group>

</div>
<!-- /.container-fluid -->