  <div class="position-sticky pt-3">
    <ul class="nav flex-column">

      <li *ngFor="let menuItem of menuItems" class="nav-item">
        <a class="nav-link" [routerLink]="[menuItem.path]">
          <i class="bi {{menuItem.icon}}"></i>{{menuItem.title}}
        </a>
      </li>
      <hr class="sidebar-divider">
      <li class="nav-item">
        <i class="bi bi-gear"></i>
        <span>Settings</span>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/ref-data">
              <span>&emsp;Reference Data</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
