  <div class="position-sticky pt-3">
    <ul class="nav flex-column">

      <li *ngFor="let menuItem of menuItems" class="nav-item">
        <a class="nav-link" [routerLink]="[menuItem.path]">
          <i class="bi {{menuItem.icon}}"></i>{{menuItem.title}}
        </a>
      </li>
      <hr class="sidebar-divider">
      <li class="nav-item">
        <a class="nav-link" routerLink="/reports">
          <i class="bi bi-graph-up-arrow"></i>
          <span>Reports</span>
        </a>
        <ul class="nav flex-column">
          <li *ngFor="let reportDef of reportDefs" class="nav-item">
            <a class="nav-link" routerLink="/report-data/{{reportDef.id}}">
              <span>&emsp;{{reportDef.name}}</span>
            </a>
          </li>
        </ul>
      </li>
      <hr class="sidebar-divider">
      <li class="nav-item">
        <i class="bi bi-gear"></i>
        <span>Settings</span>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/text-patterns">
              <span>&emsp;Transation Text Patterns</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/ref-data">
              <span>&emsp;Reference Data</span>
            </a>
          </li>
        </ul>
      </li>
      <hr class="sidebar-divider">
      <li class="nav-item">
        <a class="nav-link" routerLink="/user">
          <i class="bi bi-person"></i>User Profile
        </a>
      </li>
    </ul>
  </div>
