<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Transactions</h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <form #filterFrom="ngForm" (ngSubmit)="loadTransactions(true)">
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <a routerLink="/new-transaction" class="btn btn-primary btn-circle">
                            <i class="bi bi-plus-square"></i>
                        </a>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <a (click)="downloadTransactions()" class="btn btn-primary btn-circle">
                            <i class="bi bi-arrow-down-square"></i>
                        </a>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="filterParams.fromDate" class="form-control"
                            placeholder="From Date dd-MM-yyyy" name="fromDate">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="filterParams.toDate" class="form-control"
                            placeholder="To Date dd-MM-yyyy" name="toDate">
                    </div>
                </div>
                <div class="col">
                    <a class="btn btn-primary btn-circle" (click)="loadTransactions(true)">
                        <i class="bi bi-filter-square"></i>
                    </a>
                </div>
                <div class="col">
                    <div class="form-group">
                        <a (click)="filterFrom.reset()" class="btn btn-danger btn-circle">
                            <i class="bi bi-x-square"></i>
                        </a>
                    </div>
                </div>
            </div>
        </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered" width="100%"
                    cellspacing="0">
                    <thead>
                        <tr style="color: #fff; background:#2874a6;">
                            <th>Date</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Amount</th>
                            <th>Account</th>
                            <th>Place</th>
                            <th>Category</th>
                            <th>Sub-Category</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let transaction of transactions" (click) = "editTransaction(transaction.id)"
                        [ngStyle]="{'background-color': getTransactionColor(transaction) }">
                            <td>{{ transaction.date }}</td>
                            <td>{{ transaction.type }}</td>
                            <td>{{ transaction.description }}</td>
                            <td class="currency">{{ transaction.amount | customCurrency: currencyCode}}</td>
                            <td>{{ transaction.account }}</td>
                            <td>{{ transaction.store }}</td>
                            <td>{{ transaction.category }}</td>
                            <td>{{ transaction.subCategory }}</td>
                            <td>
                                <a (click)="deleteTransaction(transaction.id);$event.stopPropagation()" class="btn btn-danger btn-circle">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->