<div class="container-fluid">
    <div *ngIf="reportData">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{reportData.name}}</h1>
        </div>

        <div *ngFor="let rowData of reportData.rowDataList" class="row">
            <div *ngFor="let itemData of rowData.itemDataList" class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">{{itemData.title}}</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div [ngSwitch]="itemData.displayType">
                            <div *ngSwitchCase="'Chart-Pie'">
                                <canvas baseChart [type]="'pie'" [datasets]="getPieChartDatasets(itemData)"
                                    [labels]="getPieChartLabels(itemData)" [options]="pieChartOptions"
                                    [plugins]="pieChartPlugins" [legend]="pieChartLegend">
                                </canvas>
                            </div>
                            <div *ngSwitchCase="'Chart-Bar'">
                                <canvas baseChart [data]="getBarChartData(itemData)" [options]="barChartOptions"
                                    [plugins]="barChartPlugins" [legend]="barChartLegend" [type]="'bar'">
                                </canvas>
                            </div>
                            <div *ngSwitchDefault>
                                <div *ngFor="let key of getKeys(itemData.itemEntries)">
                                    <span>Values for: {{key}}</span>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th *ngFor="let field of itemData.groupByFields" scope="col">{{field}}
                                                </th>
                                                <th *ngIf="isSimpleItem(itemData)">Amount</th>
                                                <th *ngIf="isCreditDebitSavingsItem(itemData)">Credit</th>
                                                <th *ngIf="isCreditDebitSavingsItem(itemData)">Debit</th>
                                                <th *ngIf="isCreditDebitSavingsItem(itemData)">Savings</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let itemEntry of itemData.itemEntries[key]">
                                                <td *ngFor="let value of itemEntry.fieldValues"><span>{{value}}</span>
                                                </td>
                                                <td *ngIf="isSimpleItem(itemData)" class="text-end">{{itemEntry.amount | customCurrency: currencyCode}}</td>
                                                <td *ngIf="isCreditDebitSavingsItem(itemData)" class="text-end">
                                                    {{itemEntry.credit | customCurrency: currencyCode}}</td>
                                                <td *ngIf="isCreditDebitSavingsItem(itemData)" class="text-end">
                                                    {{itemEntry.debit | customCurrency: currencyCode}}</td>
                                                <td *ngIf="isCreditDebitSavingsItem(itemData)" class="text-end">
                                                    {{itemEntry.savings | customCurrency: currencyCode}}</td>
                                            </tr>
                                            <tr *ngIf="itemData.groupByFields && itemData.groupByFields.length > 0">
                                                <!-- <td><b>Total</b></td>-->
                                                <th *ngFor="let field of itemData.groupByFields"><span>--Totals--</span> 
                                                </th>
                                                <th *ngIf="isSimpleItem(itemData)" class="text-end">{{ getSumOf(itemData.itemEntries[key], 'amount') | customCurrency: currencyCode}}</th>
                                                <th *ngIf="isCreditDebitSavingsItem(itemData)" class="text-end"><b>
                                                    {{getSumOf(itemData.itemEntries[key], 'credit') | customCurrency: currencyCode}}</b></th>
                                                <th *ngIf="isCreditDebitSavingsItem(itemData)" class="text-end"><b>
                                                    {{getSumOf(itemData.itemEntries[key], 'debit') | customCurrency: currencyCode}}</b></th>
                                                <th *ngIf="isCreditDebitSavingsItem(itemData)" class="text-end"><b>
                                                    {{getSumOf(itemData.itemEntries[key], 'savings') | customCurrency: currencyCode}}</b></th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>